.dp__arrow_top{display: none;}
.priority__component--wrapper .due-date .dp__main span {
    font-size: 12px !important;
    color: var(--ink-2) !important;
    position: relative;
    top: 1px;
    font-family: var(--font-ui);
}
@media(max-width: 576px){
    .create__task-div .due_date-listing{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 95px;
    }
}
@media(max-width: 480px){
    .create__task-div .due_date-listing{
        max-width: 65px;
    }
}
@media(max-width: 412px){
    .create__task-div .due_date-listing{
        max-width: 100%;
    }
}