.upgrade-btn-txt{
    margin: 0 auto;
    background-color: #28C76F;
    color: #fff;
    padding: 3px 14px;
    border-radius: 4px;
    width: 175px;
}
.show_warning{
    border: 1px solid transparent;
    border-radius: 5px;
    margin-top: 20px;
    padding: 15px;
    background-color: var(--warn-bg);
}
.msg-color{
    color: var(--warn-ink);
}