.border-0 {
    border: 0 !important;
}
.border-collapse{
    border-collapse: collapse;
}
.border {
    border: 1px solid var(--hairline);
}
.border-thick-white {
    border: 8px solid white;
}
.bordergray{
    border: 1px solid #CFCFCF;
}
.bordergray-dashed{
    border: 1px dashed #CFCFCF;
}
.border-gray-bold-dashed{
    border: 2px dashed #ccc;
}
.border-2 {
    border: 2px solid var(--hairline);
}
.border-gray{
    border: 1px solid var(--border) !important;
}
.border-groupBy{
    border: 1px solid #E0E0E0;
}
.border-primary {
    border: 1px solid var(--brand) !important;
}
.border-secondary{
    border: 1px solid #818181;
}
.border-gray-blue {
    border: 1px solid #c6d1dd;
}

.border-top {
    border-top: 1px solid var(--hairline);
}
.border-bottom {
    border-bottom: 1px solid var(--hairline);
}
.border-bottom-mobiledrop {
    border-bottom: 1px solid var(--border) !important;
}
.border-bottom-black{
    border-bottom: 1px solid black !important;
}
.border-bottom-serach{
    border-bottom: 1px solid #CFCFCF;
}
.border-left {
    border-left: 1px solid var(--hairline);
}
.border-right {
    border-right: 1px solid var(--hairline);
}
.border-right-0 {
    border-right: 0;
}
.border-top-lightwhite{
    border-top: 1px solid #f2f2f2;
}
.border-top-white {
    border-top: 1px solid white !important;
}
.border-x {
    border-left: 1px solid var(--hairline);
    border-right: 1px solid var(--hairline);
}
.border-y {
    border-top: 1px solid var(--hairline);
    border-bottom: 1px solid var(--hairline);
}
.border-bottom-red {
    border-bottom: 1px solid var(--danger)!important;
}
.border-right-grey {
    border-right: 1px solid #ccc!important;
}
.border-red {
    border: 1px solid var(--danger)!important;
}
.border-2px-blue
{
    border: 2px solid var(--brand) !important;
}
.borderdarkgray{
    border: 1px solid #cdcdcd;
}
.border-left-0{
    border-left: 0 !important;
}
.border-bottom-lightgray{
    border-bottom: 1px solid #C7C7C7;
}
.ai-border-bottom {
    border-bottom: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-image-source: linear-gradient(to right, #4B5DEE,#F241CD);
}